<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.inovex.pepper.intelligence.mlkit">

    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:name="de.inovex.pepper.intelligence.mlkit.PepperMLKitApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:hardwareAccelerated="true">
        <activity android:name="de.inovex.pepper.intelligence.mlkit.ui.main.MainActivity" android:hardwareAccelerated="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,ica" />
    </application>
</manifest>